
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul class="nav navbar-nav">

         
            <li><a href="~/Manage/Stats">Statistics <span class="glyphicon glyphicon-dashboard"></span></a></li>
            <li class="divider"></li>
            <li>
                <a href="~/Admin/Alerts">List of Alert</a>
            </li>
            <li class="divider"></li>

</ul>

